
  /*---form---*/

  h1, h2, label {
    color: #fff;
    letter-spacing: 3px;
    font-size: 25px;
  }
  h2{
    text-align: center;
  }
  .age1 .age2{
    font-size: 40px;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .form-selection label {
    margin-right: 10px;
  }
  
  .form-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .form-container h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ff1f1f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff1f1f;
  }
  
  
  /*---navi---*/

  
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(bgcte.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
}
.navi{ 
width: 85%;
margin: auto;
padding: 35px 0;
display: flex;
align-items: center;
justify-content: space-between;
}
.logo{
width: 120px;
cursor: pointer;
}
.navi ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.navi ul li a{
text-decoration: none;
color: #fff;
text-transform: uppercase
}
.navi ul li::after{
content:'';
height: 3px;
width: 0%;
background: #ff1f1f;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
}
.navi ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;   
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

 /*---scrollbaar---*/

 ::-webkit-scrollbar {
    width: 10px; 
  }

  
  ::-webkit-scrollbar-track {
    background: #000000; 
  }

  
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

 
  ::-webkit-scrollbar-thumb:hover {
    background: #ff1f1f;
  }
  
 
  .content {
    height: 300px;
    width: 200px;
    overflow-y: scroll;
  }

  